* {
    text-align: center;
    align-items: center;
    margin: auto;
}

pre {
    text-align: left;
    background: #CCC;
    overflow: overlay;
}
footer#footer {
    width: 100%;
}


header.mdl-layout__header.is-casting-shadow {
    display: block !important;
}
.mdl-layout__header-row {
    padding: 0 14px 0 1em !important;
}

.mdl-layout__content {
    flex: 1 0 auto;
}

img#preview {
    height: 4em;
}